<div>
This is where you setup your sub profile queues
<br/><br/>
We only know of your main profile, if you have other profiles, log into the other profile below:
<br/><br/>
<iframe width=800 src="http://netflix.com" ></iframe>
<br/><br/>
Now <%= button_to "Add sub-profile", netflix_auth_link_account_path %>

</div>