// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.queue { width: 250px; height: 3000px; list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; border: 1px solid #CCCCCC;}
.queue { padding: 5px; border: 1px solid #CCCCCC; }
//.queue li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 200px; border: 1px solid #CCCCCC; color: #1C94C4; }
//.queue li { border: 1px solid #CCCCCC; }
